.naranja{
    background-color: #F7931E;
    color: white;
}

.text-gris {
  color: #b6b4b4 !important;
}

.navbar{
    height: 150px
}

.btn-alltec {
    background-color: #F7931E;
    color: white;
    border: none;
}

.btn-alltec:hover {
    background-color: #ffb871;
    color: white;
}

.jumbotrom {
    color: #555555;
    padding: 30px;
    border-top: 5px solid #F7931E;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    width: 25%;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.5) !important;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white; 
    text-align: center;
}

.jumbotrom h1 {
    font-size: px;
    font-weight: bold; 
}


.card-img-top {
    height: 300px;
    object-fit: cover;
}

.card {
    height: 100%;
}

b {
    font-size: 75px;
    font-family: 'Arial Black', ;
    COLOR: #535353;
}

f {
    font-size: 75px;
    font-family: 'Arial', ;
    color: #F7931E;
}

small {
    font-size: 12PX;
    color: #757575;
}


.logo-title {
    line-height: 0.8; /* Ajusta el interlineado para que el subtítulo esté más cerca del título */
}

.logo-subtitle {
    line-height: 0; /* Ajusta el interlineado para que el subtítulo esté más cerca del título */
    display: block;

}

